@import url('./font/stylesheet.css');

body {
  font-family: 'luckiest_guyregular' !important;
  cursor: url('./img/arrow.png'), auto;	
  height: 100vh;
  background: rgb(255,221,0);
  background: radial-gradient(circle, rgba(255,221,0,1) 35%, rgba(255,162,0,1) 100%);
}

.master {
    overflow: hidden;
    box-sizing: border-box;
  }
  
  
  .game {

  }
  
  .board {
    margin: 0 auto;
    display: flex;
    width: 615px;
    height: 615px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
    
  .square {
      width: 200px;
      height: 200px;
      box-sizing: border-box;
      border: 10px solid #007de4;
      font-size: 5em;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 5px;
      margin-bottom: 5px;
     
  }
    
  .square:hover {
    cursor: url('./img/hand.png'), auto;	
      color: #fff;
      background: rgb(0,185,255);
      background: radial-gradient(circle, rgba(0,185,255,1) 35%, rgba(0,52,255,1) 100%);
  }

.update-game {
  text-align: center;
  font-size: 50px;
  width: 640px;
  margin: 50px auto;
  color: #3c3c3c;
  text-shadow: 3px 2px white;
}
.update-game:after {
  content: " ";
  clear: both;
  display: block;
}
.update-button {
  text-align: center;
  width: 320px;
  float: left;
}
  
/*titles*/
.title { 
  text-align: center;
}
.title h1 {
  font-size: 120px;
  color: #e4002b;
  text-shadow: 3px 2px white;
  letter-spacing: 4px;
  margin-top: 200px;
  transition: all 700ms;
  margin-bottom: 30px;
}
.title h1.reduce-margin {
  margin-top: 50px;
  font-size: 60px;
  letter-spacing: 1px;
}
.title span {
  padding-left: 30px;
  padding-right: 30px;
}

  /*buttons activated*/
  .active-button {
    padding: 20px;
    display: block;
    font-size: 70px;
    letter-spacing: 4px;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    color: #027933;
    text-shadow: 3px 2px white;
    text-align: center;
    width: 650px;
    margin: 0 auto;
  }
  .active-button:hover .splash {
    background-image: url(./img/splash.png);
    float: left;
    width: 79px;
    height: 81px;
    background-repeat: no-repeat;
  }
  
  .deactived-button {
    display: none;
  }

  .deactived-board {
    display: none;
  }
  .activated-board {
    display: block;
  }


  .draw_message {
    text-align: center;
    font-size: 65px;
    color: #bb0065;
    text-shadow: 3px 2px #000000;
    letter-spacing: 10px;
  }
  .draw_message h1 {
    margin: 0;
    margin-bottom: 50px;
  }
  .draw_message span {
    width: 128px;
    height: 128px;
    display: inline-block;
    background-image: url(./img/draw.png);
    margin-right: 20px;
    text-shadow: 3px 2px #000000;
  }


  .winner_message {
    text-align: center;
    font-size: 65px;
    color: #cc2bc5;
    text-shadow: 3px 2px #000000;
    letter-spacing: 10px;
  }
  .winner_message h1 {
    margin: 0;
    margin-bottom: 50px;
  }
  .winner_message span {
    width: 128px;
    height: 128px;
    display: inline-block;
    background-image: url(./img/won.png);
    margin-right: 20px;
    text-shadow: 3px 2px #000000;
  }

  .request-name {
    width: 600px;
    margin: 0 auto;
  }
  .request-name .input-row {
    width: 320px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .request-name .input-row label {
    font-size: 40px;
    margin-right: 15px;
    color: #2196F3;
    text-shadow: 3px 2px #000000;
    display: block;
    text-align: center;
  }
  .request-name .input-row input {
    font-size: 55px;
    background-color: transparent;
    border: none;
    border-bottom: 6px solid #2196F3;
    outline: none;
    font-family: 'luckiest_guyregular' !important;
    color: #404040;
    width: 100%;
    text-align: center;
  }
  .request-name .input-row button {
    background-color: #3696f3;
    color: #fff;
    font-size: 40px;
    letter-spacing: 2px;
    font-family: 'luckiest_guyregular' !important;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    width: 320px;
    margin: 0 auto;
    outline: none;
    cursor: url('./img/hand.png'), auto;	
  }